{% include 'header' %}

<section class="intro">
	<p>WordPress and web development tutorials, tips and tricks. Writen by <a href="/about/">Anh Tran</a> and the <a href="//elightup.com">eLightUp</a> team.</p>
</section>

<section class="recent">
	<h2>Recent Posts</h2>

	{% include 'post-list' %}
</section>

{% include 'footer' %}