	</main>
	<footer class="footer">Copyright &copy; {{ mb.date('Y') }} Deluxe Blog Tips. Made with <a href="//metabox.io/plugins/mb-views/">MB Views</a> &amp; <a href="//github.com/rilwis/bamboo">Bamboo CSS</a>.</footer>

	{{ mb.wp_footer() }}
</body>
</html>